.book-list-wrapper {
  position: absolute;
  width: calc(60% + 20px);
  right: 0;
  top: 0;
  background-color: #007bff;
}

.book-list {
  padding: 0 20px 0 0;
}

.book-wrapper a {
  color: inherit;
}
.book-wrapper a:hover {
  color: inherit;
  text-decoration: none;
}

.book {
  padding-left: 20px;
  margin-top: 30px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.book:hover {
  transform: translateX(10px);
}

.book-author{
  color: rgba(0,0,0,0.5);  
}