.book-info{
  width: 280px;
  position: absolute;
  left: 0;
  height: 100%;
  border-right: 0.3px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
.book-info:before{
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  left: -10px;
  top: -10px;
  /* background-image: url(https://misc.ridibooks.com/cover/371001275/xxlarge);
  background-size: cover;
  filter: blur(50px); */
}

.book-info-title{
  position: relative;
  margin-top: 60px;
  padding: 0 20px;
  text-align: right;
}
.book-info-title:after{
  content: '';
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: -8px;
  right: 15px;
  background-color: rgba(0,0,0,0.2);
}
.book-info-author{
  position: relative;
  text-align: right;
  padding: 0 20px;
}

.book-info-calendar{
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.6); */
}

/* 코멘트 영역 */
.book-comment{
  float: right;
  width: calc(100vw - 280px);
  height: 100vh;
  padding: 0 20px;
  /* background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ENwbI9D3xilj9k3k8/nature-old-paper-texture-or-background-video-animation_sacheeom__F0000.png); */
}