@charset "UTF-8";

ul, ul li{
  text-decoration: none;
  list-style: none;
}
.comment{
  margin-top: 15px;
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #fff;
}
.comment-container{
  padding: 15px;
}

.comment-container.empty{
  margin: 50px 0;
  font-size: 32px;
  text-align: center;
  color: rgba(0,0,0,0.3);
}

.comment-content p{
  white-space: pre-wrap;
}

.comment textarea {
  resize: none;
  overflow: hidden;
  min-height: 80px;
  margin: 15px 0;
  border: 0;
  background-color: rgba(0,0,0,0.04);
  transition: all 0.2s ease;
}

.comment-date {
  padding: 20px 20px 0;
  color: rgba(0,0,0,0.3);
  font-size: 22px;
}